[submodule "spatial/Performance-Evaluation-of-6DoF-Localization-On-Mobile-Devices/hloc_src"]
	path = spatial/Performance-Evaluation-of-6DoF-Localization-On-Mobile-Devices/hloc_src
	url = https://github.com/ViswanathBalusu/Hierarchical-Localization.git
