/**
 * StatBadge Styles
 */
@use "theme" as *;

.stat-badge {
  display: inline-flex;
  align-items: center;
  color: $color-text-muted;

  &--desktop {
    gap: 4px;
    font-size: 12px;
  }

  &--vr {
    gap: 8px;
    font-size: 14px;
  }
}
